<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="dismiss()" class="body-small back-button ion-padding-start"><u>Cancel</u></ion-button>
		</ion-buttons>
		<ion-title class="sub-title-header">Scan QR</ion-title>
		<ion-buttons slot="primary">
			<!-- <ion-button (click)="createCheckIn()" class="primary-button body-small ion-padding-end">Post</ion-button> -->
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-row>
		<ion-col size="12">
			<ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel" [value]="value"
				cssClass="bshadow"></ngx-qrcode>
		</ion-col>
	</ion-row>
</ion-content>

<!-- <ion-footer class="font-color-black">

	<ion-row>
		<ion-col size="12">
			<ion-button color="primary" class="primary-button button-text button-width-100 button-profile"
							(click)="makePayment()">
							Proceed To Payment</ion-button>
		</ion-col>
	</ion-row>
</ion-footer> -->