.font-color-black {
    color: black;
}

.other-input-border {
    margin: 0px 20px;
    border-bottom: 1px solid lightgray;
}

.total-tip-div {
    margin: 20px 10px;
    border-top: 1px solid lightgray;
}

.margin-div {
    margin: 20px 10px;
}

.div-border-top {
    border-top: 1px solid lightgray;
}

.single-payment-entry {
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.payment-name {
    font-size: 14px;
    color: #6d2f8e;
}

.payment-createdAt {
    font-size: 10px;
    color: #1F1F1F;
}

.payment-tip {
    font-size: 16px;
    color: black;
}