app-delete-account {
  .back-button {
    color: #5d5d5d;
    text-decoration: underline;
  }

  .ion-card-container {
    margin: 5px;
    height: 250px;
  }
}

.delete_button {
  margin-top: 30px;
//   width: 70%;
width: 136px;
}

.delete-card-content {
  margin: 20px;
}
.otp-note {
  color: #000000;
 display: flex;
 padding: 20px 0px 0px 25px;
}
